/* Global Styles */
:root {
  --primary-color: #1785b8;
  --dark-color: #343a40;
  --light-color: #f4f4f4;

}
.bg-light,
.badge-light {
  background: var(--light-color);
  color: #333;
}

.bg-dark,
.badge-dark
 {
  background: var(--dark-color);
  color: #fff;
}

body {
  font-family: 'Raleway', 'Times New Roman', Times, serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: rgb(33, 33, 49);
  color: #333;
}


/* Utilities */
.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 6rem;
  margin-bottom: 3rem;
}

/* Text Styles*/
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}


.text-primary {
  color: var(--primary-color);
}


.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}

/* Margin */

.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 2rem;
}

.my-2 {
  margin: 2rem 0;
}





